@font-face {
  font-family: "Muli";
  src: url("../Muli/Muli.woff2") format("woff2"),
    url("../Muli/Muli.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../Muli/Muli-Bold.woff2") format("woff2"),
    url("../Muli/Muli-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
